.fleet-systems-devices-tree {
  display: flex;
  flex-direction: column;
  gap: var(--s-10);


  &__controls {
    display: flex;
    justify-content: flex-start;
  }
  &__body{
    // height: 33vh;
    height: 100%;
    @media(max-width:1100px){
    }
    // position: fixed;

    // z-index: 1;
    // height: 100vh;
    // top: 0;
    // left: 0;
    // width: 50vw;
  }
}
