/* Relative Path: ./UiBadge.scss */
.ui-badge {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Game, sans-serif ;
  width: max-content;
  gap: 4px;
  padding: var(--s-12) var(--s-10);
  border-radius: 999px;
  font-size: 0.75rem;
  font-weight: 600;
  line-height: 1.4;
  white-space: nowrap;
  &__label { display: flex; align-items: center; width:max-content; }

  &--maskable {
    cursor: pointer;
    // user-select: none;
  }

  &--ok {
    background: var(--green-90, rgba(0, 200, 80, 0.15));
    color: var(--green-10, #1a7f3c);
    --ui-icon-color: var(--green-10, #1a7f3c);
  }
  &--warn {
    background: var(--orange-10, rgba(255, 165, 0, 0.15));
    color: var(--orange-90, #b96d00);
    --ui-icon-color: var(--orange-90, #b96d00);
  }
  &--bad {
    background: var(--red-90, rgba(255, 0, 0, 0.12));
    color: var(--red-50, #b00020);
    --ui-icon-color: var(--red-50, #b00020);
  }
  &--info {
    background: var(--gray-30);
    color: var(--gray-80);
    --ui-icon-color: var(--gray-80);
  }
  &--unknown {
    background: rgba(120, 120, 140, 0.12);
    color: var(--gray-10);
    --ui-icon-color: var(--gray-30);
  }
}
