.d-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}









.product-description {
    height: max-content;
    overflow: hidden;
    text-wrap: wrap;
}

.products {
    overflow: hidden;
    @extend .d-flex;
    flex-direction: column;
    min-height: calc(100vh - 100px);
    justify-content: flex-start;
    --ui-icon-color: var(--primary-10);
    --ui-icon-width: var(--s-1);
    width: var(--s-9-w);
    height: var(--s-9-w);
    padding: var(--s-9);
    @media(max-width: 900px) {
        --ui-icon-size: 100px;
        max-width: unset;
        margin: unset;
        gap: var(--s-9);

    }

    &__header {
        @extend .d-flex;
        width: 100%;
        text-indent: var(--s-1);
        font-size: var(--s-1);
        color: var(--primary-10);
        --ui-icon-color: var(--primary-90);
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: column;
        gap: var(--s-4);
        min-height: max-content;
    }

    p {
        margin: var(--s-element) 0;
        text-transform: capitalize;
    }



    @media(max-width: 900px) {
        --ui-icon-size: 100px;

        p {
            font-size: var(--s-3)
        }
    }

    &--description {
        --ui-icon-size: 100px;

        p {
            font-size: var(--s-3)
        }

        min-height: max-content;
    }

    &__content {
        position: relative;
        @extend .d-flex;
        flex-direction: column;
        justify-content: flex-start;
        flex: 1;
        gap: var(--s-1);
        // overflow: visible;
        height: max-content;
        // width: 100%;
        width: 100%;

        @media(max-width: 900px) {
            height: auto;
            min-height: max-content;
            flex: 1;
            overflow-x: hidden;
            padding-bottom: 200px;
        }
    }
}


@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }

}

.products-listing {
    height: max-content;
    @extend .d-flex;
    flex-direction: column;

    width: 100%;

    @media(max-width: 900px) {
        height: 100%;
        width: 100%;

        padding: 0;
    }




    &__no-products {
        background-color: var(--gray-90);
        opacity: 0;
        animation: forwards fadeIn 3s ease-in;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        // width: 100%;
        // overflow: visible;
        // min-width: 100vw;
        min-height: 100vh;
        display: flex;
        z-index: 1;

        .return-btn {
            margin: auto;
            @extend .d-flex;
            flex-direction: column;
            gap: var(--s-element);
            width: var(--s-1-w);
            margin-top: 10vh;

            &--content {
                z-index: 3;
                background-color: var(--primary-90);
                // max-width: 450px;
                padding: var(--s-1);
                --ui-icon-color: var(--primary-30);
                // overflow: visible;
                height: max-content;
                border: solid var(--s-9);
                color: var(--primary-50);
                min-width: max-content;
                text-transform: capitalize;
                --ui-icon-width: 6.5rem;
                --ui-icon-height: 8.5rem;
                @extend .d-flex;
                flex-direction: column;
                font-size: 2rem;
            }

            &--text {
                cursor: pointer;
                @extend .d-flex;
                color: var(--white);
                min-height: 100px;
                width: 100%;
                font-size: var(--s-1);
                z-index: 5;
            }
        }
    }

    &__body {
        position: relative;
        height: max-content;
        @extend.d-flex;
        width: 100%;
        align-items: flex-start;
        max-width: 100%;
    }

    &__products {
        @extend .d-flex;
        @media (min-width:var(--breakpoint-md)) {
            width: inherit;
            flex-direction: row;
            height: inherit;
        }
    }

    &__header {
        color: var(--primary-70);

        @extend .d-flex;
        align-items: flex-start;
        gap: var(--s-4);
        flex-direction: column;
        width: var(--s-9-w);
        padding: var(--s-9);
        font-size: var(--s-1);
        line-height: 2;

        @media(max-width: 900px) {
            width: 100%;
            padding: 0;

            h1 {
                font-size: var(--s-3);
                line-height: 2;
            }
        }
    }

    &__footer {
        bottom: 0;
        left: 0;
        position: absolute;
        @extend .d-flex;
        align-items: flex-end;
        justify-content: flex-end;
        width: var(--s-10-w);
        padding: var(--s-10);
        color: var(--gray-30);
    }
    &__layout-actions {
        @extend .d-flex;

        justify-content: flex-end;
        width: 100%;
        gap: var(--s-9);

        &--item {
            cursor: pointer;
            transition: all .3s ease-in;
            --ui-icon-size: var(--s-6);

            &:hover {
                transform: scale(1.1);
                --ui-icon-color: var(--primary-50);
            }
        }
    }

    &__filters {
        width: 100%;

        @media(max-width: 900px) {
            min-width: unset;
            // height: 100%;
        }
    }

}

// VARIANTs
.products {


    &--view {
        border-radius: var(--border-radius);
        position: relative;
        // min-height: max-content;

        @media (max-width: 900px) {
            height: auto;
            min-height: unset;
            // overflow: visible;
        }

        .products-listing__body {
            @extend .d-flex;
            min-height: 450px;
            @media (max-width: 900px) {
                min-height: unset;
            }
        }

        h1 {
            width: 100%;
            font-size: var(--s-5);
        }

    }

    &--carousel {
        border-radius: var(--border-radius);
        position: relative;
        min-height: unset;
        height: auto;
        width: 100%;

        .products__content {
            padding: 0;
        }

        .products__header {
            display: none;
        }
    }

}