.d-flex{
 display: flex;
 justify-content: center;
 align-items: center;
}

.form__hint {
    @extend .d-flex;
    min-height: max-content;
    padding: var(--s-11);
    line-height: 1;
    color:var(--primary-50);

    text-transform: uppercase;
    z-index: 1;
    font-family: Decimal Mono, monospace;
    font-weight: 700;
    text-align: center;
    position: relative;
    overflow: hidden;
    // h6 {
    //   transform: scaleY(2)
    // }
}