.d-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ui-toggle {
  @extend .d-flex;
  gap: var(--s-9);

  &__label {
    @extend .d-flex;
    text-transform: capitalize;
    &__vertical {
      flex-direction: column;
      writing-mode: vertical-rl;
      transform: rotate(180deg);
    }
    &__horizontal {
    flex-direction: column;
}
}
}

.toggle-switch {
  position: relative;
  display: inline-block;
  width: var(--s-element);
  // height: var(--s-element);
}

.toggle-switch input [type='checkbox'] {
  opacity: 0;
  width: 0;
  height: 0;
}


.slider {
  position: absolute;
  cursor: pointer;
  height: var(--s-3);
  left: 0;
  right: 0;
  background-color: var(--gray-70);
  transition: 0.4s;
  box-shadow: inset 1px 1px 4px rgba(0, 0, 0, 0.7);
  border-radius: var(--s-11);
}

.slider:before {
  position: absolute;
  content: '';
  top: 1px;
  left: 2px;
  height: calc(100% - 2px);
  width: calc(50% - 1.5px);
  bottom: var(--s-12);
  background-color: var(--gray-40);
  transition: 0.4s;
  border-radius: var(--s-11);
}

input:checked+.slider:not(.slider--disabled) {
  background-color: var(--blue-10);
}

input:checked+.slider.slider--disabled {
  cursor: not-allowed;
  background-color: var(--gray-40);
  filter: blur(1px);

  &:before {
    background-color: var(--gray-50);
  }
}

input:checked+.slider:before {
  background-color: var(--white);
  transform: translateX(100%);
}