.d-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.fleet-systems {
    font-family: PlexLight;
    @extend .d-flex;
    justify-content: flex-start;
    flex-direction: column;
    // gap: var(--s-1);
    color: var(--gray-10);
        --ui-icon-color: var(--gray-10);
    width: 100%;
    height: 100%;
    min-height: 0;
    position: relative;
    @media(max-width: 1100px) {
        gap: var(--s-9);
        height: 100%;
        min-height: 100%;
        // display: inline-block;
    }

    &__header {
        transition: all ease-out 1s;
        @extend .d-flex;

        justify-content: space-between;
        z-index: 2;
        background: var(--gray-80);
        width: var(--s-9-w);
        padding: var(--s-9);

        @media(max-width: 900px) {
            position: relative;
            flex-wrap: wrap;
            // width: 100%;
            background: unset;
            // padding: 0;
            align-items: flex-start;
            gap: var(--s-12);
        }

        &--bump {
            top: 0;
            opacity: 0.8;
            border-bottom: solid 1px;

            &:hover {
                background:
                    var(--linear-gradient-80);
                opacity: 1;
            }

        }
    }

    &__sub-title {

        @extend .d-flex;
        gap: var(--s-9);
        justify-content: flex-end;
        align-items: flex-start;

    }

    &__title {

        // text-transform: uppercase;
            line-height: 1;
            // font-family: AvantGarde, sans-serif;
            // font-weight: 700;
            // letter-spacing: .2em;
        text-decoration: underline;
        font-size: var(--s-1);
        color: var(--primary-30);
        @media(max-width: 1100px){
            white-space: wrap;
        }
        &--container {
            white-space: nowrap;
            @extend .d-flex;
            align-items: flex-start;
            flex-direction: column;
            gap: var(--s-11);
        }



        &--timestamp {
            font-weight: 300;
            font-family: PlexLight;
            font-size: var(--s-6);
            text-decoration: unset;
            color: var(--gray-30)
        }
    }
    &__stats{
        @extend .d-flex;
        // width: 100%;
        // height: 100%;
    }
}