
.welcome {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--s-9);
  overflow: hidden;
  h3 {
    line-height: 2;
    margin-bottom: var(--s-1);
  }
  &__close {
    align-self: flex-end;
  }
}
