.d-flex{
 display: flex;
 justify-content: center;
 align-items: center;
}

.surveillance-controller{
    @extend .d-flex;
    background-color: var(--gray-100);
    flex-direction: column;
    max-width: clamp(150px, 100%, 235px);
    padding:var(--s-9) var(--s-3);
    border-radius: var(--s-9);
    box-shadow: 2px 2px 8px rgba(0,0,0,0.2);
    width: var(--s-2-w);
    gap:var(--s-9);
    &--joystick,&--coordinates{
        @extend .d-flex;
        width: 100%;
        font-family: Decimal;
        font-weight: 300;
        color:var(--green-10);
    }
    &--coordinates{
        justify-content: flex-start;
    }
    &--joystick{
    }
}