.d-flex {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

$navDisplacement: var(--s-nav-height);


.settings {
  position: relative;
  min-height: max-content;
  @extend .d-flex;
  flex-direction: column;
  gap: var(--s-9);
  max-width: 100%;
  width: 100%;
  @media(max-width: 1100px) {
    // width: var(--s-11-w);
    // margin:0 var(--s-11);
  }

  &__header {
    width: 100%;
    max-width: 1260px;
    @extend .d-flex;
    align-items:
      flex-start;
    overflow: hidden;
  }

  &--no-view {
    max-width: 600px;
    margin: 200px auto;

    @media(max-width: 1100px) {
      margin: 0 auto;
    }
  }

  &__title {
    // @extend .d-flex;
    // justify-content: flex-start;
  }

  &--full {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
    height: 100%;
    padding: var(--s-9);
    width: var(--s-9-w);
    min-height: var(--s-page-height);
    min-height: max-content;
  }

  &__trigger {
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
    width: max-content;
    height: var(--s-5);
    @extend .d-flex;
    padding: var(--s-9);
    background-color: var(--blue-70);
    transform: rotate(90deg) translate(50%,0);
z-index: 1000;
@media (max-width: 1100px) {
  display: none;
    // flex-direction: column;
    // max-width: 100%;
  }
&:hover {
  opacity: 1;
  color: white;
  --ui-icon-color: white;
  background-color: #000;
}
    &--closed {
      transform: translate(calc(100% + $navDisplacement), 50%);

    }
  }

  &__container {
    height: max-content;
    position: relative;
    flex-direction: row;
    @extend .d-flex;
    height: var(--s-page-height);
    min-height: max-content;

    @media (max-width: 1100px) {
      flex-direction: column;
      max-width: 100%;
      // overflow: hidden;
    }
  }

  &__nav {
    @extend .d-flex;
    transition: all 0.4s ease-out;
    flex: 1;
    overflow-y: visible;
    overflow-x: hidden;
    background-color: var(--gray-90);
    box-shadow: var(--s-11) var(--s-9) var(--s-8) var(--s-11) var(--gray-100);
    z-index: 999;
    padding: var(--s-5) var(--s-11);
    border-radius: var(--border-radius);
    // box-sizing: border-box;
    width: var(--s-11-w);
    max-width: var(--s-10-w);
    // min-width: 400px;
    position: absolute;
    opacity: .5;
    top: calc(var(--s-9) * -1);

    @media(max-width: 1100px) {
      padding: 0;
      height: max-content;
      box-shadow: none;
      width: 100%;
      padding: 0;
      position: relative;
      overflow: hidden;
      display: block;
      top: unset;
      opacity: 1;
      min-height: max-content;
    }

    &--open {

      // min-width: 100%;
      opacity: 1;
      min-height: max-content;
    }

    &--closed {

      overflow: visible;
      transform: translate(calc(calc(-100% + var(--s-9)) - $navDisplacement),0);
      min-width: unset;
      box-shadow: unset;
      height: max-content;
      min-height: 0;

      @media(max-width: 1100px) {
        transform: unset;
        overflow: hidden;
        min-height: var(--s-element);
      }
    }

    &--full {
      @media(min-width: 1100px) {
        position: fixed;
        left: var(--s-9);
      }
    }

    @media (max-width: 1100px) {
      width: 100%;
      padding: unset;
      // flex: 1 1 100%;
    }
  }

  &__view {
    @extend .d-flex;

    @media(max-width: 1100px) {
      flex: unset;
      overflow: hidden;
      height: 100%;
      // padding: 70px 0 0;
    }

    // box-sizing: border-box;
    height: 100%;
    min-height: max-content;

    &--full {
      // width: 100%;
      overflow-x: hidden;

      @media(max-width: 1100px) {
        top: var(--s-nav-height);

      }
    }


    &--content {
      max-width: var(--s-9-w);
      padding: var(--s-9);
      overflow: hidden;
      // position: relative;
      min-height: max-content;
    }
  }
}