.product-build-qualify{
    display: flex;
    flex-direction: column;
    gap: var(--s-1);

    &__appliances{
        display: flex;
        flex-wrap: wrap;
        gap: var(--s-11);
    }

    &__appliance{
        display: flex;
        align-items: center;
        gap: var(--s-11);
&--label{
    height: 100%;
    padding: 0 var(--s-11);
    text-transform: capitalize;
}
        &--selected{
            height: var(--s-3);
            overflow: hidden;
            padding-left: var(--s-10);
            border-radius: var(--border-radius, var(--s-9));
            background: var(--green-30);
            color: var(--white);
            --ui-icon-color: var(--white);
            border: 1px solid var(--primary, var(--green-90));
        }

    }

    &__search{
        width: 50vw;
        max-width: 420px;
    }

    &__empty{
        font-size: 0.9rem;
        color: #555;
    }
}
