.d-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.d-flex-col {
  @extend .d-flex;
  flex-direction: column;
  gap: var(--s-4);
}

.field-msg {
  font-size: var(--s-8);
  font-family: PlexLight;
  color: var(--black)
}

.form {
  // display: flex;
  // align-items: start;
  // flex-wrap: wrap;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: var(--s-9);
  // overflow: visible;
  width: 100%;

  @media (max-width: 900px) {
    flex-direction: column;
    gap:var(--s-3);
    grid-template-columns: 1fr;
  }
&--flex {
  display: flex;
  align-items: start;
  justify-content: stretch;
  flex-wrap: wrap;
  max-width:100%;
}
  &--xs {
    padding: 0;
  }

  &--mini {
    padding: var(--s-8) var(--s-4);
    // width: var(--s-4-w);
    gap: var(--s-10);

    &__submit {
      border-top: unset !important;
    }
  }

  &--card {
    background-color: var(--gray-90);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow-90);
    padding: var(--s-4);
    // width: var(--s-4-w);
  }

  &__title {
    width: 100%;
    text-transform: capitalize;
    font-size: var(--s-5);
    --ui-icon-size: var(--s-6);
    height: var(--s-element);
    @extend .d-flex;
    line-height: 1;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--s-5) 0 var(--s-10);

    @media(max-width: 1100px) {
      font-size: var(--s-6);
    }
  }


  .form-field,
  .form-field__readonly {
    display: flex;
    @extend .d-flex-col;
    position: relative;
    min-width: 0;
    align-items: flex-start;
    // width: max-content;
    // @media (max-width: 900px) {
      width: 100%;
      &--flex{
      flex: 3;
      // background: #f33;
      // width: max-content;
      width: auto;
      min-width: max-content;
    }
    // }
    &.error {
      color: var(--orange-50) !important;
    }

    &--xs {
      margin: 0;
    }

    &--sm {
      margin: 0 0 var(--s-11);
    }

  }

  .form-field__readonly {
    border: solid 1px transparent;
    overflow: hidden;
    color: var(--gray-60);
    --ui-icon-color: var(--gray-60);
    gap: 0;
    border: solid 1px transparent;
    background-color: var(--gray-80);

    &--label {
      @extend .d-flex;
      text-indent: var(--s-9);
      text-transform: uppercase;
      line-height: 2;
      font-weight: bold;
      font-size: var(--s-8);
      -webkit-letter-spacing: 3px;
      -moz-letter-spacing: 3px;
      -ms-letter-spacing: 3px;
      letter-spacing: 3px;
    }

    &--value {
      text-indent: var(--s-9);
      @extend .d-flex;
      justify-content: flex-start;
      min-height: var(--s-element);

      .object {
        &-list {
          background-color: var(--gray-100);
          @extend .d-flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: flex-start;
          width: 100%;
          padding: var(--s-9) 0;
          white-space: wrap;
          overflow: hidden;
          text-overflow: ellipsis;
          font-size: var(--s-8);
        }

        &-item {
          // gap: var(--s-12);
          @extend .d-flex;
          align-items: flex-start;
          justify-content: flex-start;
          color: var(--green-20);

          &--key {
            color: var(--gray-30)
          }

          // &--value{color: var(--gray-50)}
        }
      }
    }

    &:hover {
      border-radius: var(--border-radius);
      border-color: var(--gray-50);
      background-color: var(--gray-80);
      color: var(--gray-20);
      --ui-icon-color: var(--gray-20);

      .form-field__readonly--value {
        color: var(--gray-80);
        --ui-icon-color: var(--gray-80);
        background-color: var(--gray-60);
      }
    }
  }

  &__submit {
    // existing styles
    border-style: outset;
    border-color: transparent;
    // border-top-color: var(--gray-80);
    border-width: 1px;
    grid-column: 1 / -1;
    @extend .d-flex;
    width: var(--s-9-w);
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: flex-end;
    min-height: var(--s-nav-height);
    // margin-top: var(--s-1);
    padding: var(--s-element) var(--s-9) var(--s-9);
    transition: all ease .5s;
    @media (max-width: 1100px) {
          grid-column: 1;
          padding: var(--s-5) var(--s-12) 0;
          width: auto;
    }
    &--button {
      border-radius: var(--border-radius);
      height: var(--s-element);
      text-transform: uppercase;
      @extend .d-flex;
      min-width: max-content;
      width: clamp(170px, 2rem, 50%);
      filter: blur(1px);
  @media (max-width: 1100px) {
    width: 100%;
    }
      &--complete {

        filter: blur(0);
        background: var(--primary-50);
      }

      &--incomplete {
        background: var(--gray-70);
      }

    }

    // @media (max-width: 900px) {
    //   width: 100%;
    // }

    &--mini {
      margin-top: 0;
      padding-top: var(--s-9);
      border-top: unset !important;
    }
  }
}

input {
  @extend .d-flex;
  width: 100%;
  height: 100%;
  text-align: center;
  border: none;
  outline: none;
  background-color: transparent;
  color: inherit;
  --ui-icon-color: inherit;

  &:focus {
    color: inherit;
  }
}

/* Hide the number input spinner for Webkit browsers (Chrome, Safari) */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Hide the number input spinner for Firefox */
input[type="number"] {
  width: max-content;
  // -moz-appearance: textfield;
}