.ui-node-editor {
    position: relative;
    overflow: hidden;
    border-radius: var(--border-radius, 8px);
    border: 1px solid var(--gray-20, #333);

    &__canvas {
        width: 100%;
        height: 100%;
    }
}