.bt {
  display: flex;
  flex-direction: column;
  width:var(--s-9-w);
  padding:var(--s-9);
  gap:var(--s-9);
  // background:var(--blue-90-o);
  &__empty {
    padding: 10px 12px;
    font-size: 13px;
    opacity: 0.75;
  }

  &__title {
    display: inline-flex;
    align-items: center;
    gap: 8px;
  }

  &__model {
    font-size: 11px;
    opacity: 0.6;
  }

}
